In [53]:
import ipywidgets as widgets
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
import gmaps.geojson_geometries
from IPython.display import display
import ipywidgets as widgets


from config import api_key, key_dict

gkey = key_dict.get('maps', api_key)

Code to create map with LA neighborhood coordinates. Covid data is per neighborhood.
Build dataframe with neighborhoods and covid rates

In [39]:
cov_path = os.path.join("Resources", "Covid-19.csv")
neighgeo = os.path.join("Resources", "la-county-municipal-regions-current.geojson")

In [3]:
covid = pd.read_csv(cov_path, encoding="utf-16")

In [4]:
covid.head()

  Time Stamp           Region   Latitude   Longitude  Number of cases
0  01-1-2021            Acton  34.480742 -118.186838              271
1  01-1-2021  Adams-Normandie  34.031788 -118.300247              766
2  01-1-2021     Agoura Hills  34.147910 -118.765704              593
3  01-1-2021         Alhambra  34.093042 -118.127060             4241
4  01-1-2021           Alsace  33.988000 -118.347620             1016

In [5]:
covid['Time Stamp'].nunique()

368

In [6]:
covid['Region'].nunique()

246

In [14]:
covid['Time Stamp'] = pd.to_datetime(covid['Time Stamp'])
covid.head()

  Time Stamp           Region   Latitude   Longitude  Number of cases
0 2021-01-01            Acton  34.480742 -118.186838              271
1 2021-01-01  Adams-Normandie  34.031788 -118.300247              766
2 2021-01-01     Agoura Hills  34.147910 -118.765704              593
3 2021-01-01         Alhambra  34.093042 -118.127060             4241
4 2021-01-01           Alsace  33.988000 -118.347620             1016

In [52]:
covid = covid.sort_values(by='Time Stamp')
covid.head()

      Time Stamp     Region   Latitude   Longitude  Number of cases
15729 2020-03-16   Torrance  33.835849 -118.340629                2
15710 2020-03-16       City  34.053691 -118.242767                2
15717 2020-03-16  Inglewood  33.956200 -118.353132                2
15705 2020-03-16   Alhambra  34.093042 -118.127060                2
15706 2020-03-16    Arcadia  34.136208 -118.040150                1

In [17]:
covid.count()

Time Stamp         86211
Region             86211
Latitude           86211
Longitude          86211
Number of cases    86211
dtype: int64

In [50]:
covid['Number of cases'].max()

24637

In [7]:
gmaps.configure(api_key=gkey)

In [58]:
neighurl = 'https://boundaries.latimes.com/1.0/boundary-set/la-county-neighborhoods-current/?format=geojson'

response = requests.get(neighurl).json()
results = response[1][2][1]
pprint(results)

KeyError: 1

In [57]:
map_layout = {'width': '500px', 'height':'500px'}
neigh_geojson = gmaps.geojson_geometries.load_geometry(response)
fig = gmaps.figure(layout=map_layout, center=(33.9,-118.2437), zoom_level=10)
fig

TypeError: unhashable type: 'dict'